/*
====================================================================================
Alla sidor
====================================================================================
*/
body {
    margin: auto;
	width: 860px;
}
header {
    text-align: center;
}
/*
====================================================================================
Design 1
====================================================================================
*/
/*
====================================================================================
Design 2
====================================================================================
*/
/*
====================================================================================
Design 3
====================================================================================
*/