/*
====================================================================================
Alla sidor
====================================================================================
*/
body {
    margin: auto;
	width: 860px;
}
header {
    text-align: center;
}
header {
    text-align: center;
    padding: 20px 0 0;
}
.design2 .logo{
    width: 235px;
    height: 198px;
}
.design2 h1 {
    font-size: 400%;
    display: inline-block;
    margin: 0;
    vertical-align: 100%;
}
.hwrap {
	background-color: #76192E;
}
/*
====================================================================================
Menu
====================================================================================
*/
.menu {
	background-color: #76192E;
	padding: 10px 0;
	text-align: center;
}
.menu ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.menu li{
	display: inline-block;
    border-right: solid 1px #013E75;
    padding: 0 5px; }
}
.menu li:last-child{
	border-right: none;
}
.menu a{
	display: block;
    color: white;
    padding: 10px 30px
}
.menu a:hover{
	background-color: #e6002d;
    color: #fff; }
}
/*
====================================================================================
Design 1
====================================================================================
*/
body{

}

/*
====================================================================================
Design 2
====================================================================================
*/
/*
====================================================================================
Design 3
====================================================================================
*/